{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block content %}
    <hr>
    <form action="" method="get">
        {{ filterset.form.as_p }}
            <input type='submit' value="Search">
    </form>
    <hr>

{% if news %}
<table>
    <tr>
        <td>Title</td>
        <td>Date of publication</td>
        <td>Contents</td>
        <td>Category</td>
    </tr>
    {% for post in news %}
    <tr>
        <td>{{ post.title|censor }}</td>
        <td>{{ post.dateCreation|date:'d M Y' }}</td>
        <td>{{ post.text|censor|truncatechars:20 }}</td>
        {% for cat in post.postCategory.all %}
        <td>{{ cat.name }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% else %}
<h3>No publications yet!</h3>
{% endif %}

{% if page_obj.has_previous %}
    <a href="?page=1">1</a>
    {% if page_obj.previous_page_number != 1 %}
        ...
        <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
    {% endif %}
{% endif %}

{{ page_obj.number }}
{% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
    {% if paginator.num_pages != page_obj.next_page_number %}
        ...
        <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
    {% endif %}
{% endif %}

{% endblock content %}